*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.container{
  background-color: black;
  height: 470px;
  width: 400px;
  border: 2px solid wheat;
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.393);
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.input{
  padding: 5px 10px;
  border-radius: 8px;
  margin-top: 10px;
}
.up-hr{
  margin-bottom: 20px;
}
.bt-hr{
  margin-bottom: 20px;
  margin-top: 20px;
}
.hr{
  margin-top: 20px;
}
.container button{
  padding: 4px 20px;
  border-radius: 8px;
}
.result{
  font-size: 25px;
}
.score{
  padding-left: 20px;
  margin-top: 20px;
  text-align: start;
  font-size: 20px;
}
.scoree{
  display: flex;
  padding-left: 20px;
  margin-top: 20px;
  text-align: start;
  font-size: 20px;
}
.number{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(230, 226, 226);
  display: inline-block;
  padding: 10px;
  border-radius: 8px;
  color: black;
}
h1 span{
  font-size: 15px;
}